body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    min-height: 100vh;
    display: grid;
    place-content: center;
    
}
img {
    max-width: 100%;
    display: block;
}
p {
    font-size: 15px;
    display: grid;
    place-content: center;
    margin-bottom: 5%;
}
.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 2fr 2fr 1fr  ;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas: 
    "little-yellow purple-background1 purple-background1 little-purple"
    "little-yellow white-background1 yellow-background1 little-purple "
    "yellow-background2 white-background2 purple-background2 little-purple"
    "yellow-background2  white-background2 purple-background2 little-purple"
    ;
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 18px;
} 
div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.little-yellow {
    background-color: yellow;
    padding: 20px;

}
.purple-background1 {
    background-color: purple;
    padding: 20px;
}
.purple-background2 {  background-color: purple;
    padding: 20px;

}
.yellow-background1 {
    background-color: orange;
    padding: 20px;
}
.yellow-background2 {
    background-color: orange;
    padding: 20px;
    
}
.white-background1 {
 background-color: aliceblue;
 padding: 20px;
}
.white-background2 {
 background-color: aliceblue;
 padding: 20px; 
 }
 

.white-background2 h2 { 
    font-size: 100px;
    text-align: center;
    
}
.little-purple {
    background-color: darkorchid;
    padding: 20px;
}

.little-yellow      { grid-area: little-yellow; padding: 20px; }
.purple-background1 { grid-area: purple-background1; padding: 20px;}
.white-background1  { grid-area: white-background1; padding: 20px; }
.yellow-background1 { grid-area: yellow-background1; padding: 20px;}
.little-purple      { grid-area: little-purple; padding: 20px;}
.purple-background2 { grid-area: purple-background2; padding: 20px;}
.yellow-background2 { grid-area: yellow-background2;padding: 20px; }
.white-background2  { grid-area: white-background2; padding: 20px;}

@media (max-width : 768px) {
 .grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "purple-background1"
    "white-background1"
    "yellow-background1"
    "little-purple"
    "purple-background2"
    "yellow-background2"
    "white-background2"
    "little-yellow";
 } 
 .grid > div {
    text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }  
}
@media (max-width:1024px) {
    .grid > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "purple-background1 purple-background1"
        "white-background1 yellow-background1"
        "little-purple little-purple"
        "purple-background2 purple-background2"
        "white-background2 white-background2"
        "little-yellow yellow-background2";
        
    }
    
}